h1 {
  color: pink;
  text-align: center;
}

label {
  font-size: 1.2em;
}

input {
  max-width: 50%;
}

.task-dropdown {
  max-width: 50%;
  margin: 2% 0;
}

.sort-dropdown {
  max-width: 30%;
}

.tasks {
  margin: 5% 0;
  padding: 2%;
  border: solid black 3px;
  border-radius: 1em;
}
