h1 {
  color: pink;
  text-align: center;
}

label {
  font-size: 1.2em;
}

input {
  max-width: 50%;
}

.filter {
  margin: 5% 0;
}

.tasks {
  margin: 5% 0;
  padding: 2%;
  border: solid black 3px;
  border-radius: 1em;
}
